@import "./base/variables";
@import "./utilities/extends";
@import "./utilities/mixins";
@import "./components/header";
@import "./components/mainIndex";
@import "./components/maincursos";
@import "./components/mainInstitucional";
@import "./components/mainNovedades";
@import "./components/mainContacto";
@import "./components/mainAcceso";
@import "./components/mainPerfilUsuario";
@import "./components/logoWPP";
@import "./components/footer";
@import "./components/body";
@import "./components/font";
@import "./base/animations";