.main-inst {
    margin-top: 110px;
    margin-bottom: 0px;
    background-image: url(../img/img-institucional1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    @extend %flex-column;


    .encabezado-main-inst {
        @extend %caja-contenido-1;
        margin: 40px;
        background-color: nth($coloresMadera, 1);
        color: rgb(255, 255, 255);
    }

    .caja1-inst {
        .caja1-txt-inst {
            @extend %caja-contenido-2;
            background-color: rgb(255, 255, 255);

        }
    }

    .caja2-inst {
        @extend %caja-contenido-1;
        margin: 20px;

        h2 {
            text-align: center;
        }

        .caja2-ul-inst {
            .caja2-ulul-inst {
                text-align: start;
            }
        }


    }

    .caja3-inst {
        margin: 20px;
        @extend %flex-column;

        .encabezado-caja3-inst {
            @extend %caja-contenido-2;
            background-color: nth($coloresMadera, 1);
            color: rgb(255, 255, 255);
        }

        .box-img-ul-inst {
            @extend %flex-column;
            margin: 10px;
        }

        .caja-img-ul-inst {
            .caja-img-inst {

                .img-que-ofrecemos,
                .img-que-ofrecemos2 {
                    width: 7rem;
                    margin-bottom: 20px;

                    &:hover {
                        @extend %headshake;
                    }

                }

                .img-que-ofrecemos2 {
                    border-radius: 100%;
                }
            }

            .caja-ul-inst {

                text-align: start;
                padding: 30px;
                margin-bottom: 20px;
                @extend %caja-contenido-1;

            }
        }
    }

    .caja4-inst {
        margin-bottom: 30px;

        .encabezado-caja4-inst {
            @extend %caja-contenido-2;
            background-color: nth($coloresMadera, 1);
            color: rgb(255, 255, 255);
        }

        .caja-txt-inst4 {
            @extend %caja-contenido-1;
        }
    }
}


@media only screen and (min-width: 700px) {
    .main-inst {
        .caja1-inst {
            display: flex;
            flex-direction: row;
        }

        .caja2-inst {
            .caja2-ul-inst {
                display: flex;
                flex-direction: row;

                .caja2-ultxt-inst,
                .caja2-ulul-inst {
                    width: 50%;
                    padding: 30px 30px 10px 30px;
                }

                .caja2-ulul-inst {
                    text-align: start;
                }
            }
        }

        .caja3-inst {
            .encabezado-caja3-inst {
                margin: 50px 200px 50px 200px;
            }

            .box-img-ul-inst {
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                padding-right: 50px;


            }
        }
    }
}

@media only screen and (min-width: 700px) {
    .main-inst {

        .separacion-minw-900px {
            margin: 50px;
        }
    }
}

@media only screen and (min-width: 900px) {
    .main-inst {
        .caja1-inst {

            margin: 50px 100px;

        }

        .separacion-minw-900px {
            margin: 50px 200px;
        }

        .caja3-inst {
            .encabezado-caja3-inst {
                width: 400px;
            }
        }

        .caja3-inst {
            .box-img-ul-inst {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding-left: 50px;
                padding-right: 50px;

                .caja-img-ul-inst {
                    width: 33%;
                }
            }
        }

    }
}