%headshake {
    @include keyframes(headshake_icono) {
        0% {
            transform: translateX(0)
        }
    
        12.5% {
            transform: translateX(-6px) rotateY(-9deg) skewY(1deg)
        }
    
        37.5% {
            transform: translateX(5px) rotateY(4.5deg) skewY(-1deg)
        }
    
        62.5% {
            transform: translateX(-3px) rotateY(-2.25deg) skewY(0)
        }
    
        87.5% {
            transform: translateX(2px) rotateY(3deg)
        }
    
        100% {
            transform: translateX(0)
        }
    }
    
    @include animate(headshake_icono, 0.5s, ease-in, 1);
}

%zoomin {
    @include keyframes(zoomin) {
        0% {
          scale: 30%;
          opacity: 0;
        }
        50% {
          scale: 60%;
          opacity: 0.8;
        }
        100% {
          scale: 100%;
          opacity: 1;
        }
      }

      @include animate(zoomin, 0.5s, ease-in, 1);
}